body {
  --main-height: 100px;
  position: relative;
  background-color: ;
}

::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar */
}

.home-header {
  position: relative;
  height: 6rem;
  width: 100%;
  background-color: var(--background-color-400);
  background-image: linear-gradient(
    to top,
    var(--background-color-500) 0%,
    var(--background-color-400) 60%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header-container {
  position: relative;
  width: 85%;
  height: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  background-color: ;
}

.home-header-image img {
  width: 60px;
}

.home-header-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create-deck i {
  font-size: 1.4rem;
  color: var(--primary-color);
  transition: var(--transition);
  transition: all 500ms ease-in;
  transform: rotate(0deg);
}

.create-deck i.animate-icon {
  transform: rotate(405deg);
  color: var(--secondary-color);
}

.create-deck {
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Create create-deck Window
*/

.black-overlay {
  position: absolute;
  top: 100%;
  height: var(--main-height);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1000;
}

.show-overlay {
  display: block;
}

.deck-window {
  z-index: 1000;
  position: absolute;
  top: -1000px;
  opacity: 0;

  margin-top: 2rem;
  background-color: var(--background-color-300);
  border-radius: var(--border-radius-500);
  width: 90%;
  max-width: var(--max-form-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 500ms ease;
  min-height: 1vh;
}

.show-deck-window {
  min-height: 50vh;
  top: 100%;
  opacity: 1;
}

.deck-window h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.deck-window-form {
  background-color: ;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding-top: 2rem;
  width: 90%;
  background-color: ;
}

.deck-window-form .input-box {
  position: relative;
  width: 100%;
  background-color: ;
}

.deck-window-form .input-box input {
  color: var(--light-color-500);
  width: 100%;
  height: 1.6rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
}

.deck-window-form .input-box label {
  position: absolute;
  left: 5px;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition);
  color: var(--light-color-600);
}

.deck-window-form .input-box input:hover ~ label,
.deck-window-form .input-box input:focus ~ label,
.deck-window-form .input-box input:valid ~ label {
  top: -50%;
}

/*
main deck section
*/

.deck-section {
  position: relative;
  height: var(--main-height);
  width: 100%;
  /* max-width: var(--max-width); */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightblue; */
  overflow: hidden;
}

.deck-section > h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  background-image: var(--gradient-heading-100);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.deck-section-container {
  position: relative;
  display: grid;
  width: 100%;
  max-width: var(--max-width);
  background-color: ;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 100px;
  gap: 1rem 3rem;
  overflow-y: scroll;
  justify-items: center;
  /* min-height: calc(100vh - 15rem); */
  padding-bottom: 5rem;
}

.deck-section-container::-webkit-scrollbar {
  width: auto;
  background-color: transparent;
  border-radius: 10px;
}
.deck-section-container::-webkit-scrollbar-thumb {
  width: auto;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.deck {
  background-color: ;
  display: flex;
  overflow: hidden;
  width: 90%;
  border-radius: 20px;
  box-shadow: var(--shadow-100);
}

.deck-title {
  background-color: green;
  background-image: var(--gradient-10);
  background-color: var(--secondary-color);
  background-color: var(--background-color-300);
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}

.deck-title h2,
.choose-deck-title h2,
.deck-title p {
  margin: 0;
  margin-left: 2.5rem;
  background-color: ;
}

.deck-title h2,
.choose-deck-title h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 2rem);
  color: var(--secondary-color);
  font-family: tsuki;
  font-size: 2rem;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--secondary-color);
}

.deck-title p {
  position: absolute;
  top: 65%;
  overflow: scroll;
  word-break: break-all;
  max-height: 30%;
  color: var(--light-color-700);
  font-size: 0.8rem;
  background-color: ;
}

.deck-title i {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  color: var(--secondary-color);
  background-color: ;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.deck-title i::after {
  content: "";
  background-color: var(--light-color-700);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transition: 200ms all ease-in;
  transform: scale(0);
}

.deck-title i:hover::after {
  transform: scale(1);
}

.deck-items {
  background-color: var(--primary-color);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.deck-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: -1;
  transition: all 300ms ease;
  transform: scaleX(0);
}

.deck-items:hover::before {
  transform: scaleX(1);
}

.deck-items p,
.deck-item span {
  margin: 0;
}

.deck-items p {
  border-bottom: 1px solid var(--background-color-400);
  color: var(--background-color-400);
  font-size: 0.8rem;
}

.deck-items span {
  color: var(--background-color-400);
  font-weight: 500;
}

.deck-tag,
.choose-deck-tag {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  transform: rotate(45deg);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.deck-tag span,
.choose-deck-tag span {
  margin: 0;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  font-size: 1rem;
  color: var(--background-color-400);
  font-weight: 500;
  text-align: center;
  min-width: 20%;
}

/*
cardname and description modal
*/

.modal-overlay {
  position: absolute;
  top: 0;
  height: calc(var(--main-height) + 6rem);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 526;
  display: none;
}

.show-modal-overlay {
  display: block;
}

.cardname-modal,
.description-modal {
  z-index: 527;
  position: absolute;
  left: 50%;
  top: 40vh;
  transform: translate(-50%, -50%) scaleX(0);
  width: 280px;
  height: 150px;
  background-color: var(--background-color-300-0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.show-cardname-modal {
  transform: translate(-50%, -50%) scaleX(1);
}
.show-description-modal {
  transform: translate(-50%, -50%) scaleX(1);
}

.cardname-modal h2 {
  color: var(--secondary-color);
  font-family: tsuki;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 90%;
  margin: 0;
  padding-bottom: 1rem;
  margin-top: 1.7rem;
  overflow: scroll;
  word-break: break-all;
}

.description-modal p {
  margin: 0;
  margin-top: 1.7rem;
  padding-bottom: 1rem;
  width: 90%;
  overflow: scroll;
  word-break: break-all;
  color: var(--light-color-700);
  font-size: 1rem;
}

.cardname-modal i,
.description-modal i {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 1.3rem;
  color: var(--primary-color);
}

/* 
Options
*/

.options-container {
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
  transition: all 300ms ease;
  transform: scaleX(0);
}

.options {
  position: relative;
  border-radius: 20px;
  background-color: var(--background-color-300);
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-options {
  transform: scaleX(1);
}

.options .fa-xmark {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 1.3rem;
  color: var(--secondary-color);
}

.fixed-black-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.show-fixed-black-overlay {
  display: block;
}

.edit-option,
.delete-option {
  position: relative;
  font-size: 1.3rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.edit-option::before,
.delete-option::before,
.confirmation-modal div span:first-child::before,
.confirmation-modal div span:last-child::before {
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-color-700);
  z-index: -1;
  transition: all 300ms ease;
  transform: scaleX(0);
  opacity: 0;
}

.edit-option:hover::before,
.delete-option:hover::before,
.confirmation-modal div span:first-child:hover::before,
.confirmation-modal div span:last-child:hover::before {
  transform: scaleX(1);
  opacity: 1;
}

.edit-option i,
.delete-option i {
  position: absolute;
  right: 10%;
}

.edit-option {
  border-bottom: 1px solid var(--light-color-700);
  color: var(--primary-color);
}

.delete-option {
  color: var(--secondary-color);
}

.confirmation-modal-overlay {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: none;
}

.show-confirmation-modal-overlay {
  display: block;
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--background-color-300-0);
  color: var(--light-color-500);
  z-index: 10000;
  border-radius: 20px;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  transition: all 300ms ease;
}

.show-confirmation-modal {
  transform: translate(-50%, -50%) scaleX(1);
}

.confirmation-modal p {
  background-color: ;
  margin: 0;
  width: 90%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid var(--light-color-700);
}

.confirmation-modal div {
  flex-grow: 1;
  background-color: ;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.confirmation-modal div span {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
}

.confirmation-modal div span:first-child {
  color: var(--primary-color);
  border-right: 1px solid var(--light-color-700);
}
.confirmation-modal div span:last-child {
  color: var(--secondary-color);
}

/*
Profile
*/

.home-header-image img {
  position: absolute;
  transition: all 500ms ease;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 1;
}

img.slide-header-logo {
  top: -500px;
  opacity: 0;
}

.profile-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  width: 100%;
  height: var(--main-height);
  z-index: 1000;
  display: none;
}

.show-profile-overlay {
  display: block;
}

.profile-container {
  position: absolute;
  top: 100%;
  width: 100%;
  max-width: var(--max-form-width);
  height: var(--main-height);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  transition: all 500ms ease;
  opacity: 0;
  left: -1000px;
  transform: translateX(0);
}

.show-profile-container {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.profile {
  background-color: var(--background-color-300-0);
  width: 90%;
  max-width: var(--max-form-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 2rem;
}

a.profile-cell:focus,
a.profile-cell:active {
  outline:none;
}
div.profile-cell,
a.profile-cell {
  text-decoration: none;
  display: block;
  transition: all 300ms ease;
  height: 5rem;
  width: 100%;
  color: var(--light-color-500);
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 0.8;
  border-bottom: 1px solid var(--light-color-700);
}

.profile-cell:nth-child(2):hover,
.profile-cell:nth-child(4):hover,
.profile-cell:nth-child(3):hover {
  color: var(--primary-color);
}

.profile-cell:last-child,
.profile-cell:first-child {
  border: none;
}

.profile-logo img {
  width: 100px;
}

/*
Theme 
*/

.theme-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: var(--main-height);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: none;
}

.show-theme-overlay {
  display: block;
}

.theme-container {
  width: 100%;
  position: absolute;
  transition: all 500ms ease;
  top: -1000px;
  display: flex;
  justify-content: center;
  z-index: 10000;
  opacity: 0;
  height: 1px;
}

.show-theme-container {
  top: 100%;
  opacity: 1;
  max-height: auto;
}

.theme {
  margin-top: 2rem;
  background-color: var(--background-color-300-0);
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 50vh;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.theme h3 {
  color: var(--primary-color);
}

.theme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  width: 100%;
  background-color: ;
  gap: 2rem 0;
}

.theme-cell {
  background-color: ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.theme-cell span {
  font-size: 0.8rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: var(--primary-color);
}

.theme-cell > div {
  width: 50px;
  height: 25px;
  background-color: ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.theme-cell > div.focus-theme {
  border-bottom: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}

.theme-cell > div > div {
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: pink;
  display: flex;
  overflow: hidden;
}

.theme-cell > div > div div {
  width: 100%;
  height: 100%;
}

.green-apple-container {
  --background-color-500: #1a1c19;
  --background-color-400: #222c23;
  --background-color-300: #424240aa;
  --background-color-300-0: #424240dd;
  --primary-color: #7adb8e;
  --secondary-color: #ffb3ab;
  --light-color-500: #e1e4de;
  --light-color-600: #afb1ad;
  --light-color-700: #8b9288;
}
.green-apple-background {
  background-color: var(--background-color-400);
}
.green-apple .primary {
  background-color: var(--primary-color);
}
.green-apple .secondary {
  background-color: var(--secondary-color);
}
.green-apple {
  border: 2px solid var(--primary-color);
}
.green-apple-container span {
  color: var(--primary-color);
}

.midnight-dusk-container {
  --background-color-500: #16151d;
  --background-color-400: #19131d;
  --background-color-300: #3f3e44aa;
  --background-color-300-0: #3f3e44dd;
  --primary-color: #ef2475;
  --secondary-color: #55971c;
  --light-color-500: #e6e1e5;
  --light-color-600: #afb1ad;
  --light-color-700: #9f8c8f;
}
.midnight-dusk-background {
  background-color: var(--background-color-400);
}
.midnight-dusk .primary {
  background-color: var(--primary-color);
}
.midnight-dusk .secondary {
  background-color: var(--secondary-color);
}
.midnight-dusk {
  border: 2px solid var(--primary-color);
}
.midnight-dusk-container span {
  color: var(--primary-color);
}

.lavender-container {
  --background-color-500: #111129;
  --background-color-400: #1d193b;
  --background-color-300: #3a3c53aa;
  --background-color-300-0: #3a3c53dd;
  --primary-color: #a177ff;
  --secondary-color: #5d25e0;
  --light-color-500: #dee8ff;
  --light-color-600: #afb1ad;
  --light-color-700: #9a80d7ff;
  --light-color-700: #6e4dbf;
}
.lavender-background {
  background-color: var(--background-color-400);
}
.lavender .primary {
  background-color: var(--primary-color);
}
.lavender .secondary {
  background-color: var(--secondary-color);
}
.lavender {
  border: 2px solid var(--primary-color);
}
.lavender-container span {
  color: var(--primary-color);
}

.strawberry-daiquiri-container {
  --background-color-500: #201a1a;
  --background-color-400: #312727;
  --background-color-300: #484242aa;
  --background-color-300-0: #484242dd;
  --primary-color: #ffb2ba;
  --secondary-color: #e8c08d;
  --light-color-500: #ebdfdf;
  --light-color-600: #afb1ad;
  --light-color-700: #a08c8d;
}
.strawberry-daiquiri-background {
  background-color: var(--background-color-400);
}
.strawberry-daiquiri .primary {
  background-color: var(--primary-color);
}
.strawberry-daiquiri .secondary {
  background-color: var(--secondary-color);
}
.strawberry-daiquiri {
  border: 2px solid var(--primary-color);
}
.strawberry-daiquiri-container span {
  color: var(--primary-color);
}

.tako-container {
  --background-color-500: #21212d;
  --background-color-400: #272435;
  --background-color-300: #484755aa;
  --background-color-300-0: #484755dd;
  --primary-color: #f3b375;
  --secondary-color: #66577e;
  --light-color-500: #e3e0f1;
  --light-color-600: #afb1ad;
  --light-color-700: #958f99;
}
.tako-background {
  background-color: var(--background-color-400);
}
.tako .primary {
  background-color: var(--primary-color);
}
.tako .secondary {
  background-color: var(--secondary-color);
}
.tako {
  border: 2px solid var(--primary-color);
}
.tako-container span {
  color: var(--primary-color);
}

.teal-and-turquoise-container {
  --background-color-500: #202125;
  --background-color-400: #202529;
  --background-color-300: #47464aaa;
  --background-color-300-0: #47464add;
  --primary-color: #3fe0d0;
  --secondary-color: #c01f2f;
  --light-color-500: #dfdeda;
  --light-color-600: #afb1ad;
  --light-color-700: #899392;
}
.teal-and-turquoise-background {
  background-color: var(--background-color-400);
}
.teal-and-turquoise .primary {
  background-color: var(--primary-color);
}
.teal-and-turquoise .secondary {
  background-color: var(--secondary-color);
}
.teal-and-turquoise {
  border: 2px solid var(--primary-color);
}
.teal-and-turquoise-container span {
  color: var(--primary-color);
}

.tidal-wave-container {
  --background-color-500: #001c3b;
  --background-color-400: #082b4b;
  --background-color-300: #2a4363aa;
  --background-color-300-0: #2a4363dd;
  --primary-color: #5ed4fc;
  --secondary-color: #92f7bd;
  --light-color-500: #d5e3fe;
  --light-color-600: #afb1ad;
  --light-color-700: #8b9295;
}
.tidal-wave-background {
  background-color: var(--background-color-400);
}
.tidal-wave .primary {
  background-color: var(--primary-color);
}
.tidal-wave .secondary {
  background-color: var(--secondary-color);
}
.tidal-wave {
  border: 2px solid var(--primary-color);
}
.tidal-wave-container span {
  color: var(--primary-color);
}

.yin-and-yang-container {
  --background-color-500: #1e1e1e;
  --background-color-400: #313131;
  --background-color-300: #464646aa;
  --background-color-300-0: #464646dd;
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --light-color-500: #e6e6e6;
  --light-color-600: #afb1ad;
  --light-color-700: #999999;
}
.yin-and-yang-background {
  background-color: var(--background-color-400);
}
.yin-and-yang .primary {
  background-color: var(--primary-color);
}
.yin-and-yang .secondary {
  background-color: var(--secondary-color);
}
.yin-and-yang {
  border: 2px solid var(--primary-color);
}
.yin-and-yang-container span {
  color: var(--primary-color);
}

.yotsuba-container {
  --background-color-500: #221a19;
  --background-color-400: #322723;
  --background-color-300: #4a423faa;
  --background-color-300-0: #4a423fdd;
  --primary-color: #ffb49e;
  --secondary-color: #d7c68e;
  --light-color-500: #eee0dd;
  --light-color-600: #afb1ad;
  --light-color-700: #9f8c86;
}
.yotsuba-background {
  background-color: var(--background-color-400);
}
.yotsuba .primary {
  background-color: var(--primary-color);
}
.yotsuba .secondary {
  background-color: var(--secondary-color);
}
.yotsuba {
  border: 2px solid var(--primary-color);
}
.yotsuba-container span {
  color: var(--primary-color);
}

.natural-sky-container {
  --background-color-500: #1b1b1d;
  --background-color-400: #262930;
  --background-color-300: #444446aa;
  --background-color-300-0: #444446dd;
  --primary-color: #adc6ff;
  --secondary-color: #7adc77;
  --light-color-500: #e4e2e6;
  --light-color-600: #afb1ad;
  --light-color-700: #8d9099;
}
.natural-sky-background {
  background-color: var(--background-color-400);
}
.natural-sky .primary {
  background-color: var(--primary-color);
}
.natural-sky .secondary {
  background-color: var(--secondary-color);
}
.natural-sky {
  border: 2px solid var(--primary-color);
}
.natural-sky-container span {
  color: var(--primary-color);
}

/*
play button
*/

.play-button-container {
  position: absolute;
  width: 90%;
  max-width: var(--max-width);
  height: var(--main-height);
  pointer-events: visiblePainted;
}

.play-button-container > i {
  border-radius: 50%;
  z-index: 501;
  position: absolute;
  font-size: 3rem;
  color: var(--primary-color);
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: all 500ms ease-out;
  background-color: transparent;
}

.play-button-container > i.animate {
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--primary-color);
}

/*
choose deck
*/

.choose-deck-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: var(--main-height);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
  display: none;
}

.show-choose-deck-overlay {
  display: block;
}

.choose-deck-container {
  position: absolute;
  top: 106%;
  z-index: 501;
  height: 85%;
  width: 100vw;
  max-width: 600px;
  border-top: 1rem solid var(--primary-color);
  background-image: linear-gradient(
    to top,
    var(--background-color-400) 0%,
    var(--background-color-500) 100%
  );
  border-radius: 10px;
  transition: all 500ms ease-out;
}

.choose-deck-inner-container {
  position: relative;
  background-color: ;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

.animate-choose-deck-container {
  top: 15%;
}

.circle-display {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  left: 50%;
  border: 3px solid var(--secondary-color);
  transform: translate(-50%, -100%);
  overflow: hidden;
}

.circle-display::before {
  content: "";
  position: absolute;
  height: 120%;
  width: 120%;
  background-color: var(--primary-color);
  bottom: 100%;
  transition: all 500ms ease;
  overflow: hidden;
}

.show-circle-display::before {
  bottom: 0;
}

.choose-deck {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: ;
  overflow: scroll;
  padding-bottom: 8rem;
}

.choose-deck-single {
  position: relative;
  width: 90%;
  min-height: 95px;
  background-color: var(--background-color-300-0);
  box-shadow: var(--shadow-100);
  border-radius: 20px;
  overflow: hidden;
}

.choose-deck-title {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.choose-deck-container h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-color);
  color: var(--primary-color);
  background-image: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-left: 6%;
  /* margin-top: .5rem; */
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

/*
game method
*/

.choose-game-method-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 600;
  display: none;
}

.show-choose-game-method-overlay {
  display: block;
}

.choose-game-method-container {
  position: absolute;
  width: 250px;
  height: 325px;
  background-color: var(--background-color-300-0);
  top: -500px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 601;
  border-radius: 20px;
  transition: all 500ms ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-choose-game-method-container {
  opacity: 1;
  top: 0;
}

.choose-game-method-container > :not(:last-child) {
  border-bottom: 1px solid var(--light-color-700);
}

.choose-game-method-container div {
  width: 90%;
  text-align: center;
  color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}

.choose-game-method-container div:hover {
  color: var(--secondary-color);
}

/*
error message
*/

.error-message-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 750;
  display: none;
}

.show-error-message-overlay {
  display: block;
}

.error-message-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--background-color-300-0);
  width: 190px;
  height: 150px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 751;

  transition: all 300ms ease;
}

.show-error-message-container {
  transform: translate(-50%, -50%) scaleX(1);
}

.error-message {
  flex-grow: 1;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  color: var(--primary-color);
}

.ok-button,
.ok-btn {
  border-top: 1px solid var(--light-color-700);
  width: 90%;
  text-align: center;
  padding: 0.5rem 0;
  color: #449e48;
  font-weight: 600;
  transition: all 300ms ease;
}

.ok-button:hover,
.ok-btn:hover {
  color: #357a38;
  color: #2e6830;
}

/*
unavailable message
*/

.unavailable-message-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--background-color-300-0);
  width: 80%;
  height: 60%;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 751;

  transition: all 300ms ease;
}

.show-unavailable-message-container {
  transform: translate(-50%, -50%) scaleX(1);
}

.unavailable-message {
  flex-grow: 1;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 1rem;
  color: var(--primary-color);
}
